.wrapper {
  display: grid;
}

.img {
  @apply block max-w-full rounded opacity-0 duration-200;
  grid-area: 1/1;
}

.skeleton {
  @apply h-full rounded;
  grid-area: 1/1;
  background-image: linear-gradient(90deg, #eee 0, #fff 50%, #eee 100%);
  background-color: #eee;
  background-size: 200%;
  animation: skeleton 1.5s infinite linear;
}

@keyframes skeleton {
  from {
    background-position: 0;
  }
  to {
    background-position: -200%;
  }
}
