.nav {
  @apply grid grid-cols-4 gap-4;
}

.nav a,
.nav button {
  @apply flex cursor-pointer items-center justify-center rounded bg-gray-200;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  transition: 0.1s;
}

.nav a:hover,
.nav button:hover,
.nav a:focus,
.nav button:focus {
  @apply bg-white outline-none;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
}

.nav a:global(.active) {
  @apply bg-white;
  box-shadow: 0 0 0 3px #fea;
  border-color: var(--primary-color);
}

.nav a:global(.active) svg > * {
  fill: var(--primary-color);
}

.mobileButton {
  @apply flex cursor-pointer items-center justify-center rounded bg-gray-200;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  transition: 0.1s;
}

.mobileButton::after {
  @apply block bg-current;
  content: "";
  width: 1.2rem;
  border-radius: 2px;
  height: 2px;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: 0.2s;
}

.mobileButton:hover,
.mobileButton:focus,
.mobileButtonActive {
  @apply bg-white outline-none;
  box-shadow: 0 0 0 3px #fea;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.mobileButtonActive::after {
  transform: rotate(-90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

.navMobile {
  @apply pointer-events-none absolute
   top-[70px] right-0 block -translate-y-1 rounded bg-white py-0 px-4 opacity-0 duration-300;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.navMobileActive {
  @apply z-50 opacity-100 duration-300;
  pointer-events: initial;
  transform: initial;
}

.navMobile a,
.navMobile button {
  @apply flex w-full items-center border-none bg-none py-2 px-0;
  border-bottom: 1px solid #eee;
}
.navMobile a:hover svg > *,
.navMobile button:hover svg > * {
  fill: var(--primary-color);
}

.navMobile button {
  border-bottom: none;
}

.navMobile svg {
  @apply mr-2;
}
