.header {
  background-color: red;
}

.logo {
  @apply my-2;
}

.login {
  @apply flex items-center;
}

.login::after {
  @apply relative ml-2 inline-block content-[''];
  width: 14px;
  height: 17px;
  top: -1px;
  background: url(/svg/usuario.svg) no-repeat center center;
}
