.header {
  @apply fixed top-0 z-50 w-full bg-white drop-shadow;
}

.nav {
  @apply flex h-[4rem] items-center justify-between;
}

.logo {
  @apply my-2;
}

.login {
  @apply flex items-center;
}

.login::after {
  @apply relative ml-2 inline-block content-[''];
  width: 14px;
  height: 17px;
  top: -1px;
  background: url(../../../assets/svg/usuario.svg) no-repeat center center;
}
