* {
  box-sizing: border-box;
}

body {
  @apply m-0 pt-[4rem];
  color: #333;
  --primary-color: #fb1;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: "Spectral", georgia, serif;
  font-family: var(--type-first);
}

h1,
h2,
h3,
h4,
h5,
p {
  @apply m-0;
}

ul,
li {
  @apply m-0 list-none p-0;
}

a {
  @apply no-underline;
}

img {
  @apply block max-w-full;
}

button,
input {
  @apply block text-base;
  font-family: var(--type-first);
  color: #333;
}

.container {
  @apply my-0 mx-auto py-0 px-4;
  max-width: 50rem !important;
}

.mainContainer {
  @apply mt-8 md:mt-12 xl:mt-16;
  min-height: 80vh;
}
