.nav {
  @apply grid grid-cols-4 gap-4;
}

.nav a,
.nav button {
  @apply flex cursor-pointer items-center justify-center rounded bg-gray-200;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  transition: 0.1s;
}

.nav a:hover,
.nav button:hover,
.nav a:focus,
.nav button:focus {
  @apply bg-white outline-none;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
}

.nav a:global(.active) {
  @apply bg-white;
  box-shadow: 0 0 0 3px #fea;
  border-color: var(--primary-color);
}

.nav a:global(.active) svg > * {
  fill: var(--primary-color);
}
